*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /*primary*/
    --darkCyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    /* secondary */
    --veryDarkBlue: hsl(212, 21%, 14%);
    --darkGrayishBlue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --border-radius: 0.75em;
}
p {
    font-family: 'montserrat', sans-serif;
    font-size: 0.875rem;
    color: var(--darkGrayishBlue);
    line-height: 1.7;

}
h1, h2 {
    font-family: 'Fraunces', serif;
    color: var(--veryDarkBlue);
    line-height: 1;
    overflow-wrap: break-word;
    font-size: 2rem;
}
body {
    height: 100vh;
    width: 100vw;
    padding: 1em;
    background-color: var(--cream);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: var(--white);
    border-radius: var(--border-radius);
    overflow: hidden;
    display: grid;
    max-width: calc(700px - 3em);
}
@media (min-width: 700px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}
.product-img {
    display: block;
    max-width: 100%;
}
.product-text {
    display: grid;
    padding: 1.5em;
    gap: 1.5em;
    align-items: center;
}
.product-type {
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1;
}
.price {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.reduced-price {
    color: var(--darkCyan);
}
.original-price {
    text-decoration: line-through;
}
.cart {
    background-color: var(--darkCyan);
    border: 0;
    border-radius: var(--border-radius);
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.cart:hover {
    background-color: hsl(158, 40%, 20%);
}
.cart-icon {
    height: 1.5em;
}
.cart-text {
    font-weight: 700;
    color: var(--white);
}

